/* font-family: 'Kelly Slab', cursive; */
header {
    font-family: 'Rock Salt', cursive;
}

body {
    background-color: #F5F0BB;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mb-3 {
    display: flex;
    justify-content: center;
}

.target {
    background-color: #73A9AD !important;
    font-style: white !important;
}

#facts {
    justify-content: center;
    display: flex;
}

.btn-primary {
    background-color: #73A9AD !important;
}

.card-body{
    background-color: #C4DFAA;
}

#recipes {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

/* !important acts as a z-index to override bootstrap css*/
#searchAllRecBtn {
    background-color: #73A9AD !important;
}

.myNav {
    background-color: #F5F0BB !important;
}

.align-top {
    justify-content: center !important;
}

.facts { 
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}